<mat-card>
    <mat-card-header>
      <mat-card-title>Hello {{username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Trading the market is one of the most difficult skill to learn,
            because of the capricious nature of the market,
            but there's a detailed systematic approach to everything,
            learning proper <span>TECHNICAL ANALYSIS </span> coupled with a conscientious <span style="color: red;">RISK MANAGEMENT</span>
             can be one huge-massive step,out of the cave.
            As you dive into this new adventure,i wish you the best.</p>
      <a href="https://www.docdroid.net/VZvxEAw/the-candlestick-trading-bible1-pdf" target="_blank">Learn Candle Stick Patterns</a>
    </mat-card-content>
  </mat-card>
  
