<div class="sidebar">
    <div class="profile">
      <img src="https://media-los2-1.cdn.whatsapp.net/v/t61.24694-24/413834884_482738744447701_7878098145610472657_n.jpg?ccb=11-4&oh=01_Q5AaIKxPbxn0nE-9VLA_rmO9AAT79ROm_kkrsaJuKa77FwR9&oe=66A42FD8&_nc_sid=e6ed6c&_nc_cat=108" alt="User Profile">
      <p>User ID: {{ userId }}</p>
    </div>
<div class="trade-tabs">
    <span class="tabs" routerLink="trade-checks" routerLinkActive="active">
      <div class="tab-tile">
        <i class="material-icons-outlined">fact_check</i>
        <p>Trade-Checks</p>
      </div>
    </span>
    <span class="tabs" routerLink="market-analysis" routerLinkActive="active">
      <div class="tab-tile">
        <i class="material-icons-outlined">candlestick_chart</i>
        <p>Market-Analysis</p>
      </div>
    </span>
    <span class="tabs" routerLink="trading-journal" routerLinkActive="active">
      <div class="tab-tile">
        <i class="material-icons-outlined">notes</i>
        <p>Account-History</p>
      </div>
    </span>
    <span class="tabs" routerLink="candlestick-patterns" routerLinkActive="active">
      <div class="tab-tile">
        <i class="material-icons-outlined">local_library</i>
        <p>Learn-Candlesticks</p>
      </div>
    </span>
  </div>
</div>
  