  <div *ngIf="!isLoggedIn(); else mainApp">
  <router-outlet></router-outlet>
</div>

<ng-template #mainApp>
  <div class="app-wrapper" [class.sidebar-open]="sidebarOpen">
    <div class="sidebar-section" [class.mobile-hidden]="!sidebarOpen && isMobile">
      <app-tabs></app-tabs>
    </div>

    <div class="main-section">
      <div class="top-section">
        <div class="timming">
          <h1>{{ currentTime | async | date: 'hh:mm:ss a' : '+0100' }}</h1>
          <h2>{{ currentDate | async | date: 'd MMMM y' : '+0100' }}</h2>
        </div>

        <div class="logout">
          <button mat mat-raised-button (click)="logout()">logout</button>
        </div>
       
        <button *ngIf="isMobile" mat-icon-button class="menu-button" (click)="toggleSidebar()">
          <mat-icon>menu</mat-icon>
        </button>
      </div> 
    
      <div class="content-section">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template> 
 

 