<div class="marketanalysis-wrapper">
    <div class="container">
      <div class="market-tiles-container">
        <mat-card *ngFor="let tile of marketTiles" class="market-tile" (click)="navigateTo(tile.link)">
          <img mat-card-image [src]="tile.imageUrl" [alt]="tile.name">
          <mat-card-content>
            <p class="tile-text">{{ tile.name }}</p>
          </mat-card-content>
        </mat-card>
      </div>
       <div class="add-button">
           <button mat-raised-button color="primary" (click)="toggleForm()" *ngIf="!showForm">Add Tile</button>
       </div>
  
      <div class="add-tile-form" *ngIf="showForm">
        <h2>Add a New Market Tile</h2>
        <form (ngSubmit)="addMarketTile()">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" id="name" [(ngModel)]="newTile.name" name="name" required>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Image URL</mat-label>
            <input matInput type="text" id="imageUrl" [(ngModel)]="newTile.imageUrl" name="imageUrl" required>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Link</mat-label>
            <input matInput type="text" id="link" [(ngModel)]="newTile.link" name="link" required>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit">Proceed</button>
        </form>
      </div>
    </div>
  </div>
  